.circle {
  width: 150px;
  height: 150px;
  background-color: #272727;
  /* border-radius: 100%; */
}

.container {
  height: 90vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
